@{
    ViewData["Title"] = "SAP CDC Test";
}
<script type="text/javascript" lang="javascript" src="https://cdns.us1.gigya.com/js/gigya.js?apikey=4_WaSna4VYLJEXpgg_JEGwiA"></script>

<div class="text-center">
    <h1 class="display-4">We</h1>
</div>
